/* 背景色 */
.bg-navbar { background-color: #d7d7d7; } /* 导航栏的背景色 */
.bg-control-panel { background-color: #f4f4f4; } /* 控制面板的背景色 */
.bg-output-canvas { background-color: #f4f4f4; } /* 输出画面的背景色 */
.bg-skeleton-3d { background-color: #f4f4f4; } /* 表4背景色 */
.bg-text-panel { background: #f4f4f4; }/* 文字提示框背景色 */

.bg-chart { background-color: #f4f4f4; } /* 图表区的背景色 */
.bg-parallel {background-color: #f4f4f4; } /* 平行坐标系的背景色 */
.bg-angle-chart { background-color: #f4f4f4; } /* Angle背景色 */
.bg-collide-force { background-color: #f4f4f4; } /* 力模拟的背景色 */
.bg-landmark-track { background-color: #f4f4f4; } /* 按压示意图背景色 */
.bg-frequency { background-color: #f4f4f4; } /* 频率图背景色 */
.bg-score { background-color: #f4f4f4; } /* 成绩图背景色 */



/* 设置边框宽度和颜色 */
.border {
    border-width: 1px !important;
    border-color: #d6d8d9 !important;
}

/* 导航栏 */
.navbar-custom {
    padding-left: 0.6rem;
    padding-top: 0.3rem; /* 增加上内边距 */
    padding-bottom: 0.3rem; /* 增加下内边距 */
    color: black; /* 字体颜色 */
    font-size: 1rem; /* 自定义字体大小 */
}

/* 卡片样式 */
.custom-header {
    font-size: 1rem; /* 自定义字体大小 */
    padding: 0.2rem;/* 边界 */
    margin: 0.2rem 0.2rem 0.2rem 0.2rem; /* 边距，使得背景颜色填充有间隔 */
    text-align: left;/*位置居中*/
    color: black; /* 字体颜色 */
    border-radius: 0.2rem; /* 圆角边框 */
}
.custom-header-small{
    font-size: 0.8rem; /* 自定义字体大小 */
    padding: 0.05rem;/* 边界 */
}
.custom-card-shadow {
    /* 添加边界线阴影 */
    /* 格式: 水平偏移 垂直偏移 模糊半径 扩展半径 颜色 */
    box-shadow: 0px 0px 4px 2px rgba(72, 72, 72, 0.5)
}
.custom-card {
    border-color: #a8a8a8; /* 自定义边界线颜色 */
    border-width: 1px; /* 自定义边界线宽度 */
}
.custom-card-body {
    padding: 0.2rem; /* 自定义内边距 */
}

/* 默认字体大小 */
body {
    font-size: 1rem; /* 设置默认的字体大小 */
}

/* 控制模块，源选择，自定义按钮颜色和去除阴影 */
.btn-custom-selected, .btn-custom-unselected {
    box-shadow: none !important; /* 去除阴影 */
}
.btn-custom-selected {
    background-color: #a5a5a5; /* 亮绿色 */
    color: white;
}
.btn-custom-unselected {
    background-color: #f8f9fa; /* 浅灰色 */
    color: black;
}
.btn-group-custom {
    border-radius: 0.5rem; /* 圆角边框 */
    border: 1px solid #cccccc; /* 边框线 */
    overflow: hidden; /* 隐藏溢出的子元素 */
}
/* 居中对齐的label */
.text-center-label {
    display: block;
    text-align: center;
    margin-bottom: 0.5rem;
}

/*文件选择按钮*/
.btn-custom-file-select {
    background-color: #a5a5a5; /* 深蓝色背景 */
    color: white; /* 白色文字 */
    border: none; /* 无边框 */
}
.btn-custom-file-select:hover {
    background-color: #535353; /* 鼠标悬停时的颜色 */
}
.btn-custom-file-select:active {
    box-shadow: none !important; /* 取消点击时的阴影 */
}
/* 如果使用Bootstrap Icons，确保图标与文字颜色一致 */
.btn-custom-file-select .bi {
    color: white;
}

/* 范围选择样式 */
.range-slider {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.range-slider .form-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 35%; /* 设置标签宽度 */
    margin-bottom: 0; /* Bootstrap 默认的 margin-bottom 去除 */
}
.range-slider input {
    width: 65%; /* 输入滑块占据剩余宽度 */
    flex-shrink: 1; /* 允许滑块缩小以适应屏幕大小 */
}

/* 录制按钮 */
.btn-start{
    background-color:#4484ce ;
    color: #f4f9fe;
}
.btn-stop{
    background-color:#DC143C9F ;
    color: #f4f9fe;
}

/* 定义滚动容器的样式 */
.scroll-container-chart{
    height: 90vh; /* 设置容器高度为视口的100% */
}
.scroll-container-text{
    height: 44vh;
}
.scroll-container {
    overflow-x: hidden; /* 隐藏水平滚动条 */
    overflow-y: auto; /* 必要时显示垂直滚动条 */
}
/* 自定义滚动条样式 */
.scroll-container::-webkit-scrollbar {
    width: 6px; /* 滚动条宽度 */
}
.scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* 滚动条轨道颜色 */
    border-radius: 5px; /* 轨道圆角 */
}
.scroll-container::-webkit-scrollbar-thumb {
    background: #888; /* 滚动条颜色 */
    border-radius: 5px;/* 滑块圆角 */
    border:#888;
}
.scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* 滚动条悬停颜色 */
}

/*视频播放控件*/
.btn-video{
    background-color: #4484ce;
    border-color: #4484ce;
    color: #f4f9fe;
}
/*进度条*/
.my-progress-bar{
    width: 0%;
    transition: none;/* 无延迟 */
    /* transition: width 0.5s ease; */
}

/* 文本提示区 */
.alert-custom {
    padding: 0.4rem;
    border-radius: 4px;
    margin-bottom: 0.5rem; /* 保持Alert之间有一定间距，但不使用横线 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.alert-heading {
    font-size: 1rem;
    font-weight: bold;
}
.error-detail {
    margin-top: 5px; /* 调整错误原因上方的间距 */
}
.error-range {
    text-align: right;
    font-weight: bold;
}

/* 输入选中的装饰色 */
.form-check-input:checked {
    background-color: #535353;
    border-color:#535353;
}